body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:1032px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:1032px;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:508px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:2px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:68px;
  width:1311px;
  height:1px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:16px;
  width:51px;
  height:42px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:26px;
  width:221px;
  height:24px;
  font-size:20px;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u1951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:27px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:105px;
  width:64px;
  height:35px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:105px;
  width:136px;
  height:35px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:105px;
  width:136px;
  height:35px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:105px;
  width:136px;
  height:35px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u1961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:105px;
  width:136px;
  height:35px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u1963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:105px;
  width:136px;
  height:35px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:105px;
  width:136px;
  height:35px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:166px;
  width:136px;
  height:35px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:166px;
  width:136px;
  height:35px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:166px;
  width:136px;
  height:35px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:36px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:270px;
  width:19px;
  height:26px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#169BD5;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:272px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#169BD5;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:2px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:317px;
  width:1089px;
  height:1px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:267px;
  width:78px;
  height:33px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u1981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:267px;
  width:81px;
  height:33px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:267px;
  width:78px;
  height:33px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:363px;
  width:76px;
  height:26px;
  font-size:18px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:2px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:721px;
  width:1311px;
  height:1px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:767px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:821px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:877px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:930px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:767px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:821px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:877px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:767px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:821px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:877px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:143px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:767px;
  width:138px;
  height:143px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:798px;
  width:129px;
  height:95px;
  font-size:16px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:429px;
  width:76px;
  height:28px;
  font-size:18px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u2016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:364px;
  width:181px;
  height:22px;
  font-size:18px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:429px;
  width:102px;
  height:22px;
  font-size:18px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u2020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:502px;
  width:145px;
  height:26px;
  font-size:18px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u2022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#169BD5;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:502px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#169BD5;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#169BD5;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:502px;
  width:235px;
  height:22px;
  font-size:18px;
  color:#169BD5;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
