body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1731px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:0px;
  top:44px;
  width:1731px;
  height:272px;
}
#u671 {
  position:absolute;
  left:2px;
  top:128px;
  width:1727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:26px;
  top:54px;
  width:140px;
  height:40px;
}
#u673 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  position:absolute;
  left:183px;
  top:54px;
  width:140px;
  height:40px;
}
#u675 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1731px;
  height:2245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:0px;
  top:316px;
  width:1731px;
  height:2245px;
}
#u677 {
  position:absolute;
  left:2px;
  top:1114px;
  width:1727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:1636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u678 {
  position:absolute;
  left:325px;
  top:355px;
  width:1091px;
  height:1636px;
  font-size:16px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:275px;
  top:660px;
  width:64px;
  height:21px;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:275px;
  top:541px;
  width:64px;
  height:21px;
}
#u683 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  position:absolute;
  left:275px;
  top:408px;
  width:64px;
  height:21px;
}
#u685 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  position:absolute;
  left:275px;
  top:940px;
  width:64px;
  height:21px;
}
#u687 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:275px;
  top:830px;
  width:64px;
  height:21px;
}
#u689 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:275px;
  top:752px;
  width:64px;
  height:21px;
}
#u691 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u692 {
  position:absolute;
  left:235px;
  top:399px;
  width:30px;
  height:40px;
}
#u693 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u694 {
  position:absolute;
  left:1809px;
  top:389px;
  width:30px;
  height:40px;
}
#u695 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u696 {
  position:absolute;
  left:1855px;
  top:389px;
  width:150px;
  height:150px;
}
#u697 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
