body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1366px;
  height:2613px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1298px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:2px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:1311px;
  height:1px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:16px;
  width:51px;
  height:42px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:10px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:10px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:10px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:37px;
  width:293px;
  height:29px;
}
#u1064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:37px;
  width:68px;
  height:29px;
  font-size:18px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:37px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:140px;
  width:169px;
  height:33px;
  font-size:28px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:2px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:196px;
  width:1203px;
  height:1px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:301px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:231px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:372px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:236px;
  width:418px;
  height:314px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:570px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:314px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:236px;
  width:409px;
  height:314px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:570px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:642px;
  width:418px;
  height:314px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:976px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:324px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:604px;
  width:392px;
  height:324px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:976px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1050px;
  width:418px;
  height:314px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1384px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:324px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1050px;
  width:392px;
  height:324px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1384px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1462px;
  width:418px;
  height:314px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1796px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:324px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1462px;
  width:392px;
  height:324px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1796px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1864px;
  width:418px;
  height:314px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:2198px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:321px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1857px;
  width:392px;
  height:321px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:2198px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:2px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2319px;
  width:1311px;
  height:1px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:2362px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2416px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2472px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2525px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:2362px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:2416px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:2472px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:2362px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:2416px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:2472px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:143px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:2362px;
  width:138px;
  height:143px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:2393px;
  width:129px;
  height:95px;
  font-size:16px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
