body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2613px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1366px;
  height:2613px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1298px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:2px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:1311px;
  height:1px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:16px;
  width:51px;
  height:42px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:10px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:10px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:10px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:37px;
  width:293px;
  height:29px;
}
#u802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:37px;
  width:68px;
  height:29px;
  font-size:18px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:37px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:140px;
  width:225px;
  height:33px;
  font-size:28px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#169BD5;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:140px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#169BD5;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:2px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:196px;
  width:1203px;
  height:1px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:301px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:231px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:372px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:236px;
  width:418px;
  height:314px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:570px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:314px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:236px;
  width:409px;
  height:314px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:570px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:642px;
  width:418px;
  height:314px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:976px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:324px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:604px;
  width:392px;
  height:324px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:976px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1050px;
  width:418px;
  height:314px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1384px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:324px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1050px;
  width:392px;
  height:324px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1384px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1462px;
  width:418px;
  height:314px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1796px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:324px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1462px;
  width:392px;
  height:324px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1796px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:314px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1864px;
  width:418px;
  height:314px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:2198px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:321px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1857px;
  width:392px;
  height:321px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:2198px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:2px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2319px;
  width:1311px;
  height:1px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:2362px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2416px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2472px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2525px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:2362px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:2416px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:2472px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:2362px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#169BD5;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:2416px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:2472px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:143px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:2362px;
  width:138px;
  height:143px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:2393px;
  width:129px;
  height:95px;
  font-size:16px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
